@import "mocha.css";

* {
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
    font-weight: 500;
}

#waybar {
  background: @base;
  color: @blue;
  margin: 0px;
  font-weight: 500;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 2px 10px;
    min-height: 0;
    margin: 4px 4px;
    border-radius: 8px;
    background-color: @mantle;
    color: @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#wireplumber,
#tray {
    min-height: 0;
    padding: 2px 10px;
    border-radius: 8px;
    margin: 4px 4px;
    background-color: @mantle;
}

#clock {
    color: @blue;
}

#wireplumber {
    color: @blue;
}

#wireplumber.muted {
    color: @red;
}
